
body {

	font-family: helvetica; 
	color: white;
	text-align: left;
	background: url("https://scontent-a.xx.fbcdn.net/hphotos-ash3/t1.0-9/599622_3847078309907_2140888297_n.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;

}


h2 {
	text-align: center;
}

img {
	position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 100px;
    right: 150px;
}